/* styles/LandingBaseWrapper.module.css */
.sectionWrapper {
    width: 100%;
    background-color: #ffffff !important;
    position: relative;
    z-index: 1;
  }
  
  .contentWrapper {
    width: 1280px; /* Breakpoints.desktop에 맞게 하드코딩 */
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .fullWidth {
    width: 100% !important;
  }
  